*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(36, 36, 36);
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: rgb(236, 234, 234);
}

p{
    color: rgb(0, 0, 0);
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header .row{
    margin-top: 0px;
}

body{
    background: url(images/account\ glow.png)  top center;
}

.form{
    outline: none;
}

.wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(.50%);
    width: 100%;
    padding: 0 20px;

}

.title{
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.13);
    color: white;
}
.contact-form{
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.13);
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields, .msg{
    width: 48%;
}

.input-fields .input, .msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid white;
    padding: 10px;
    color: white;
    width: 100%;
}

.msg textarea{
    height: 228px;
}

button{
    background-color: rgb(238, 28, 38);
    text-align: center;
    color: white;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.5s;
    display: block;
    border: none;
    outline: none;
}
button:hover{
    background: lightseagreen;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media screen and (max-width: 600px ){
    .contact-form{
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;

    }
}
